.A_Link {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  font-size: 17px;
  transition:
    opacity 0.3s ease,
    var(--transition-press);

  &:hover {
    opacity: 0.6;
  }
}
