.O_ListText {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-16);
  background: transparent;
  padding: 0 0 1.5rem;
  /* border-bottom: 1px solid var(--border-opacity);  */
  /* transition: background-color var(--duration-hover) var(--ease-out); */
  /* background: var(--colors-gray-light-1000); */
  /* border: 1px solid var(--border-opacity); */
  p {
    font-size: 1.125rem;
  }
}
