.W_CaseLayout {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr minmax(0, 756px) 1fr;
  align-items: center;
  position: relative;
  padding: 0 80px;

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .body {
    grid-column: 2;
  }

  button.up {
    width: fit-content;
    outline: none;
    border: none;
    font-weight: 500;
    font-family: "Aeonik Pro";
  }
}
