body {
  font-family: "Aeonik Pro";
  background-color: var(--background-body);
}
* {
  /* outline: 1px solid red; */
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 125%;
}
h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 125%;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 135%;
}

p {
  font-size: 1.25rem;
  line-height: 140%;
  color: var(--colors-gray-light-1000);

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

b {
  font-weight: 500;
  font-size: 17px;
  color: var(--text-primary);
}

.secondary {
  color: var(--text-secondary);
}

.margin-container {
  width: 100%;
  max-width: 724px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
