@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Aeonik Pro";
  position: relative;
  background-color: var(--background-body);

  @media screen and (max-width: 768px) {
    padding-bottom: var(--tab-bar-offset);
  }
}
* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 125%;

  &.hero {
    font-family: "Caveat";
    font-size: 3.5rem;
    line-height: 95%;

    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }
}
h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 125%;

  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
  }
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 135%;

  @media screen and (max-width: 768px) {
    font-size: 1.125rem;
  }
}

p {
  font-size: 1.125rem;
  line-height: 145%;
  font-weight: 400;
  color: var(--text-icon-gray-primary);

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }

  &.caption {
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    color: var(--text-icon-black-secondary);
    text-transform: uppercase;
    letter-spacing: 5%;
  }

  a {
    text-decoration: none;
    color: var(--link);
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
a {
  font-size: 1.125rem;
  line-height: 140%;
  color: var(--text-icon-gray-primary);

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

b {
  font-weight: 500;
  font-size: 17px;
  color: var(--text-primary);
}

blockquote {
  font-family: "Caveat";
  font-size: 3rem;
  color: var(--text-icon-gray-primary);

  @media screen and (max-width: 768px) {
    font-size: 2.25rem;
  }
}

.secondary {
  color: var(--text-secondary);
}

.margin-container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
