<div class="M_Buttons">
  <details class="M_LangSwitch E_Magnetic" data-lang-switch>
    <summary class="A_Button E_Click">
      {{ site.current.short }}
      <svg
        class="Q_Icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9"
          stroke="currentColor"
          stroke-width="1.7"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </summary>

    <nav class="C_LangOptions" aria-label="{{ langSwitch.title }}">
      {{#each site.languages}}
      <a
        class="A_LangOption"
        href="{{ url }}"
        lang="{{ code }}"
        hreflang="{{ code }}"
        aria-current="{{ ariaCurrent }}"
        >{{ label }}</a
      >
      {{/each}}
    </nav>
  </details>
</div>
